@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import 'media';
@import 'dropzone/dropzone';


/*
*  Common
***********************************/
body {
    color: #222;
    background-color: #f8f8f8;
}

/*
*  Top
***********************************/
.jumbotron {
    padding-top: 0px;
    // 背景画像を暗くする
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(person-845325_1920.jpg);
	background-size: cover;
	// 背景画像の位置を決める
	background-position: 50% 50%;
	height: 420px;
}

.jumbotron {
    .container {
        .row {
            color: #fff;
            margin-top: 100px;
        }
    }
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    z-index: 10;
    .navbar-nav {
        > li {
            > a {
                color: white;
                font-size: 13px;
            }
        }
        > .open {
            // トップページのnavbarのドロップダウンがクリックされた時
            a,
            a:hover,
            a:focus {
                background-color: transparent;
                color: #555;
            }
        }
    }
    .navbar-brand {
        color: white;
    }
    .navbar-toggle {
        .icon-bar {
            background-color: #fff;
        }
    }
}

/*
*  navbar-devise
***********************************/
.navbar-devise {
    background: #fff;
    border-color: #fff;
    z-index: 10;
    .navbar-nav {
        > li {
            > a {
                color: #222;
                font-size: 13px;
            }
        }
    }
    .navbar-brand {
        color: #222;
    }
    .navbar-toggle {
        .icon-bar {
            background-color: #222;
        }
    }
}

/*
*  facebook関連
***********************************/
// ボタン
.btn-facebook {
    color: #fff;
    background-color: #4c66a4;
}

/*
*  プロフィール関連
***********************************/
// プロフィール画像
@import 'util';

.vertification-checked::before {
    content: "\f00c";
    font-family: FontAwesome;
    position: relative;
    z-index: 100;
    top: 2px;
    font-size: 1.55em;
    text-align: center;
    width: 1.25em;
    color: #00d1c1;
}

.btn-full {
    width: 100%;
}

.profile-full {
    width: 30%;
  
    @include media-min("tb") {
        width: 100%;
    }
}   
  

/*
*  リスティング関連
***********************************/
span.panel-heading-title {
    font-size: 24px;
}

span.panel-heading-sub-title {
    font-size: 18px;
}

label.sidebar-btn-title {
    color: #fff;
}


.sidebar-nav {
    .navbar-default {
        @include media-min("sp") {
            .navbar-collapse {
                padding: 0;
                max-height: none;
            }
            ul {
                float: none;

                &:not {
                    display: block;
                }
            }
            li {
                float: none;
                display: block;

                a {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
        .navbar-nav {
            > li {
                border-right: 1px solid #ddd;
                border-left:  1px solid #ddd;
                border-bottom:  1px solid #ddd;
                background-color: #fff;
                &:first-child {
                    border-top: 1px solid #ddd;
                }
                > a {
                    color: #222;
                    font-size: 16px;
                }
            }
        }
        .navbar-toggle {
            background-color: #337ab7;
        }
    }
}

// listings/indexのcss
a.sidebar-item {
    font-size: 16px;
    color: #222;
  }
  
  .sidebar-list li.active {
    font-weight: bold;
  }
  
  .ul-unstyled{
    list-style: none; padding-left: 0;
  }
  
  li.panel-body {
      border-top: 1px solid #eeeeee;
  }
  
  li.panel-body:first-child {
    border-top: none;
  }
  
  span.listing-title {
    font-size: 18px;
  }
  
  .row-table{
    display: table;
    table-layout: fixed;
    width: 100%; 
  }
  
  .col-middle{
    vertical-align: middle;
    display: table-cell;
    float: none;
  }
  
  .panel-list-img {
    height: 61px;
  }
  
  .panel-list-img img {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 767px){
    .row-table, .col-middle{
      display: block;
    }
  
    .panel-list-img {
      height: 170px;
    }
  }
  


/*
*  Dropzone.js用のスタイル
***********************************/
@include media-max("sp") {
    .dz-preview,
    .dz-processing,
    .sz-image-preview,
    .dz-error,
    .dz-complete {
        margin: 10px 0!important;
        width: 100%;
    }

    .dropzone {
        .dz-preview {
            .dz-image {
                width: 100%;

                img {
                    height: 120px;
                }
            }
        }
    }
}

.dropzone {
    .dz-preview {
        .dz-image {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.dropzone.dz-started {
    .dz-message {
        display: block;
    }
}
